![pandas Image](./pandas.png)

برای یادگیری مفاهیم زیر میتونین از پلی لیست زیر استفاده کنین 

https://www.youtube.com/playlist?list=PLnEg28Nx10WHuT0Eiom77WnXONNWmq0Wb

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
s = pd.Series([1, 3, 5, 6, 8])

In [3]:
s_1 = pd.Series({'A' : 4 , 'Base' : 5 , 'b' : 349 })

In [4]:
s_1

A         4
Base      5
b       349
dtype: int64

In [5]:
s

0    1
1    3
2    5
3    6
4    8
dtype: int64

In [6]:
s.iloc[1:4]

1    3
2    5
3    6
dtype: int64

In [5]:
s.mean()

4.6

In [6]:
s.max()

8

In [9]:
s_1.loc['A']

4

In [10]:
s.iloc[0]  = 8

In [11]:
s

0    8
1    3
2    5
3    6
4    8
dtype: int64

In [7]:
d = {
    'name' : ['ali' , 'hassan' , 'ahmad'] , 
    'age' : [34.6 , 43 , 49] , 
    'exp' : [7 , 14 , 18] ,
    'salary' : [60000, 70000 , 80000] , 
}

In [8]:
df = pd.DataFrame(d , index= ['aval' , 'dovvom' , 'sevvom'])
df

          name   age  exp  salary
aval       ali  34.6    7   60000
dovvom  hassan  43.0   14   70000
sevvom   ahmad  49.0   18   80000

In [14]:
df.iloc[:,[0,2]]

          name  exp
aval       ali    7
dovvom  hassan   14
sevvom   ahmad   18

In [9]:
df = pd.read_csv('./data.csv')

In [16]:
df.head()

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
0,24/11/2020 11:14:15,26.0,Male,Munich,Software Engineer,5,3,Senior,TypeScript,"Kotlin, Javascript / Typescript",...,10000,30,Full-time employee,Unlimited contract,English,51-100,Product,No,NaN,NaN
1,24/11/2020 11:14:16,26.0,Male,Berlin,Backend Developer,7,4,Senior,Ruby,NaN,...,5000,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
2,24/11/2020 11:14:21,29.0,Male,Berlin,Software Engineer,12,6,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",...,100000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,NaN,NaN
3,24/11/2020 11:15:24,28.0,Male,Berlin,Frontend Developer,4,1,Junior,Javascript,NaN,...,NaN,24,Full-time employee,Unlimited contract,English,51-100,Startup,No,NaN,NaN
4,24/11/2020 11:15:46,37.0,Male,Berlin,Backend Developer,17,6,Senior,C# .NET,".NET, SQL, AWS, Docker",...,NaN,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1253 entries, 0 to 1252
Data columns (total 23 columns):
 #   Column                                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                                   --------------  -----
 0   Timestamp                                                                                                                1253 non-null   object
 1   Age                                                                                                                      1226 non-null   float64
 2   Gender                                                                                                                   1243 non-null   object
 3   City                                                                                                                     1253 non-null   object
 4   Position                                                                                                                 1247 non-null   object
 5   Total years of experience                                                                                                1237 non-null   object
 6   Years of experience in Germany                                                                                           1221 non-null   object
 7   Seniority level                                                                                                          1241 non-null   object
 8   Your main technology / programming language                                                                              1126 non-null   object
 9   Other technologies/programming languages you use often                                                                   1096 non-null   object
 10  Yearly brutto salary (without bonus and stocks) in EUR                                                                   1253 non-null   float64
 11  Yearly bonus + stocks in EUR                                                                                             829 non-null    object
 12  Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                 885 non-null    float64
 13  Annual bonus+stocks one year ago. Only answer if staying in same country                                                 614 non-null    object
 14  Number of vacation days                                                                                                  1185 non-null   object
 15  Employment status                                                                                                        1236 non-null   object
 16  Сontract duration                                                                                                        1224 non-null   object
 17  Main language at work                                                                                                    1237 non-null   object
 18  Company size                                                                                                             1235 non-null   object
 19  Company type                                                                                                             1228 non-null   object
 20  Have you lost your job due to the coronavirus outbreak?                                                                  1233 non-null   object
 21  Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                        373 non-null    float64
 22  Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR  462 non-null    object
dtypes: float64(4), object(19)
memory usage: 225.3+ KB

In [18]:
df['Seniority level']

0       Senior
1       Senior
2         Lead
3       Junior
4       Senior
         ...
1248    Senior
1249    Senior
1250      Lead
1251    Middle
1252    Middle
Name: Seniority level, Length: 1253, dtype: object

In [12]:
df['Age'].describe()

count    1226.000000
mean       32.509788
std         5.663804
min        20.000000
25%        29.000000
50%        32.000000
75%        35.000000
max        69.000000
Name: Age, dtype: float64

In [13]:
df['City'].unique()

array(['Munich', 'Berlin', 'Hamburg', 'Wolfsburg', 'Stuttgart',
       'Schleswig-Holstein', 'London', 'Konstanz area', 'Frankfurt',
       'Cologne', 'Kempten', 'Münster', 'Erlangen', 'Vienna', 'Moldova',
       'Rosenheim', 'Mannheim ', 'Boeblingen', 'Düsseldorf', 'Ingolstadt',
       'Nürnberg', 'Ansbach', 'Leipzig', 'Mannheim', 'Tuttlingen', 'Bonn',
       'Moscow', 'Koblenz', 'Warsaw', 'Heidelberg', 'Karlsruhe', 'Köln',
       'Aachen', 'Karlsruhe ', 'Samara', 'Riga, Latvia', 'Dusseldorf',
       'Zurich', 'Helsinki', 'Würzburg', 'Kiev', 'Den Haag', 'Amsterdam',
       'Cracovia', 'Tallinn', 'Prague', 'Utrecht', 'Stockholm',
       'Braunschweig ', 'Dresden', 'Kyiv', 'Stuttgart ', 'Malta',
       'Lübeck', 'Nuremberg ', 'Bodensee', 'Milan', 'Salzburg', 'Rome',
       'Wroclaw', 'Cupertino', 'Paris', 'Dublin ', 'Paderborn',
       'Konstanz', 'Ulm', 'Düsseldorf ', 'Barcelona', 'Bölingen',
       'Tampere (Finland)', 'Hannover', 'Bucharest', 'Siegen', 'Minsk',
       'Nuremberg', 'Marseille', 'Friedrichshafen', 'Walldorf',
       'Eindhoven', 'France', 'Regensburg', 'Warsaw, Poland', 'Heilbronn',
       'Dortmund', 'Jena', 'City in Russia', 'Cracow', 'Brunswick',
       'Dublin', 'Madrid', 'Lisbon', 'Sofia', 'Luttich', 'Milano',
       'Bielefeld', 'Basel', 'NJ, USA', 'Istanbul', 'warsaw',
       'Hildesheim', 'Heidelberg ', 'Murnau am Staffelsee ', 'Zürich',
       'Innsbruck', 'Brussels ', 'Hildesheim ', 'Prefer not to say',
       'Dusseldurf', 'Fr', 'Darmstadt', 'Duesseldorf', 'Cambridge',
       'Brussels', 'Copenhagen', 'Sevilla', 'Krakow', 'Ingolstadt ',
       'Saint-Petersburg', 'Saarbrücken'], dtype=object)

In [16]:
mask =    ( df['City'] ==  'Hamburg')
hamburg = df[mask]

In [22]:
hamburg.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,38.0,31.631579,4.961588,25.0,28.25,31.0,33.75,47.0
Yearly brutto salary (without bonus and stocks) in EUR,40.0,63528.775000,20743.162223,10001.0,51875.00,64000.0,76250.00,130000.0
Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country,26.0,59873.076923,17145.344737,12000.0,48500.00,60000.0,70000.00,90000.0
"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week",9.0,11.888889,14.477953,0.0,0.00,0.0,25.00,32.0

In [23]:
df['City'].unique()

array(['Munich', 'Berlin', 'Hamburg', 'Wolfsburg', 'Stuttgart',
       'Schleswig-Holstein', 'London', 'Konstanz area', 'Frankfurt',
       'Cologne', 'Kempten', 'Münster', 'Erlangen', 'Vienna', 'Moldova',
       'Rosenheim', 'Mannheim ', 'Boeblingen', 'Düsseldorf', 'Ingolstadt',
       'Nürnberg', 'Ansbach', 'Leipzig', 'Mannheim', 'Tuttlingen', 'Bonn',
       'Moscow', 'Koblenz', 'Warsaw', 'Heidelberg', 'Karlsruhe', 'Köln',
       'Aachen', 'Karlsruhe ', 'Samara', 'Riga, Latvia', 'Dusseldorf',
       'Zurich', 'Helsinki', 'Würzburg', 'Kiev', 'Den Haag', 'Amsterdam',
       'Cracovia', 'Tallinn', 'Prague', 'Utrecht', 'Stockholm',
       'Braunschweig ', 'Dresden', 'Kyiv', 'Stuttgart ', 'Malta',
       'Lübeck', 'Nuremberg ', 'Bodensee', 'Milan', 'Salzburg', 'Rome',
       'Wroclaw', 'Cupertino', 'Paris', 'Dublin ', 'Paderborn',
       'Konstanz', 'Ulm', 'Düsseldorf ', 'Barcelona', 'Bölingen',
       'Tampere (Finland)', 'Hannover', 'Bucharest', 'Siegen', 'Minsk',
       'Nuremberg', 'Marseille', 'Friedrichshafen', 'Walldorf',
       'Eindhoven', 'France', 'Regensburg', 'Warsaw, Poland', 'Heilbronn',
       'Dortmund', 'Jena', 'City in Russia', 'Cracow', 'Brunswick',
       'Dublin', 'Madrid', 'Lisbon', 'Sofia', 'Luttich', 'Milano',
       'Bielefeld', 'Basel', 'NJ, USA', 'Istanbul', 'warsaw',
       'Hildesheim', 'Heidelberg ', 'Murnau am Staffelsee ', 'Zürich',
       'Innsbruck', 'Brussels ', 'Hildesheim ', 'Prefer not to say',
       'Dusseldurf', 'Fr', 'Darmstadt', 'Duesseldorf', 'Cambridge',
       'Brussels', 'Copenhagen', 'Sevilla', 'Krakow', 'Ingolstadt ',
       'Saint-Petersburg', 'Saarbrücken'], dtype=object)

In [25]:
mask = df['City'] == 'Munich'
df[mask].describe()

,Age,Yearly brutto salary (without bonus and stocks) in EUR,Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week"
count,232.000000,236.000000,175.000000,68.000000
mean,33.068966,77504.627119,72765.942857,14.044118
std,5.984430,26351.024182,22805.934726,16.121214
min,23.000000,16320.000000,26000.000000,0.000000
25%,29.000000,63750.000000,60000.000000,0.000000
50%,32.000000,72000.000000,69300.000000,0.000000
75%,36.000000,82500.000000,79000.000000,30.500000
max,66.000000,300000.000000,200000.000000,40.000000

In [29]:
mask = (df['City'] == 'Munich') & (df['Age'] <23)
df[mask].describe()

,Age,Yearly brutto salary (without bonus and stocks) in EUR,Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week"
count,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1253 entries, 0 to 1252
Data columns (total 23 columns):
 #   Column                                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                                   --------------  -----
 0   Timestamp                                                                                                                1253 non-null   object
 1   Age                                                                                                                      1226 non-null   float64
 2   Gender                                                                                                                   1243 non-null   object
 3   City                                                                                                                     1253 non-null   object
 4   Position                                                                                                                 1247 non-null   object
 5   Total years of experience                                                                                                1237 non-null   object
 6   Years of experience in Germany                                                                                           1221 non-null   object
 7   Seniority level                                                                                                          1241 non-null   object
 8   Your main technology / programming language                                                                              1126 non-null   object
 9   Other technologies/programming languages you use often                                                                   1096 non-null   object
 10  Yearly brutto salary (without bonus and stocks) in EUR                                                                   1253 non-null   float64
 11  Yearly bonus + stocks in EUR                                                                                             829 non-null    object
 12  Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                 885 non-null    float64
 13  Annual bonus+stocks one year ago. Only answer if staying in same country                                                 614 non-null    object
 14  Number of vacation days                                                                                                  1185 non-null   object
 15  Employment status                                                                                                        1236 non-null   object
 16  Сontract duration                                                                                                        1224 non-null   object
 17  Main language at work                                                                                                    1237 non-null   object
 18  Company size                                                                                                             1235 non-null   object
 19  Company type                                                                                                             1228 non-null   object
 20  Have you lost your job due to the coronavirus outbreak?                                                                  1233 non-null   object
 21  Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                        373 non-null    float64
 22  Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR  462 non-null    object
dtypes: float64(4), object(19)
memory usage: 225.3+ KB

In [54]:
import time

In [57]:
start_time = time.time()
for i in range(len(df)) : 
    df.iloc[i,23] = 456

end_time = time.time()


print(f'this code last {end_time- start_time } second')

this code last 0.05812335014343262 second

In [53]:
start_time = time.time()
df.iloc[:,23] = 456
end_time = time.time()


print(f'this code last {end_time- start_time } second')

this code last 0.0002732276916503906 second

In [35]:
import time

In [37]:
start_time

1702221513.5909305

In [31]:
df['Temp'] = 0

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1253 entries, 0 to 1252
Data columns (total 24 columns):
 #   Column                                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                                   --------------  -----
 0   Timestamp                                                                                                                1253 non-null   object
 1   Age                                                                                                                      1226 non-null   float64
 2   Gender                                                                                                                   1243 non-null   object
 3   City                                                                                                                     1253 non-null   object
 4   Position                                                                                                                 1247 non-null   object
 5   Total years of experience                                                                                                1237 non-null   object
 6   Years of experience in Germany                                                                                           1221 non-null   object
 7   Seniority level                                                                                                          1241 non-null   object
 8   Your main technology / programming language                                                                              1126 non-null   object
 9   Other technologies/programming languages you use often                                                                   1096 non-null   object
 10  Yearly brutto salary (without bonus and stocks) in EUR                                                                   1253 non-null   float64
 11  Yearly bonus + stocks in EUR                                                                                             829 non-null    object
 12  Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                 885 non-null    float64
 13  Annual bonus+stocks one year ago. Only answer if staying in same country                                                 614 non-null    object
 14  Number of vacation days                                                                                                  1185 non-null   object
 15  Employment status                                                                                                        1236 non-null   object
 16  Сontract duration                                                                                                        1224 non-null   object
 17  Main language at work                                                                                                    1237 non-null   object
 18  Company size                                                                                                             1235 non-null   object
 19  Company type                                                                                                             1228 non-null   object
 20  Have you lost your job due to the coronavirus outbreak?                                                                  1233 non-null   object
 21  Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                        373 non-null    float64
 22  Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR  462 non-null    object
 23  Temp                                                                                                                     1253 non-null   int64
dtypes: float64(4), int64(1), object(19)
memory usage: 235.1+ KB

In [27]:
df.head()

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
0,24/11/2020 11:14:15,26.0,Male,Munich,Software Engineer,5,3,Senior,TypeScript,"Kotlin, Javascript / Typescript",...,10000,30,Full-time employee,Unlimited contract,English,51-100,Product,No,NaN,NaN
1,24/11/2020 11:14:16,26.0,Male,Berlin,Backend Developer,7,4,Senior,Ruby,NaN,...,5000,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
2,24/11/2020 11:14:21,29.0,Male,Berlin,Software Engineer,12,6,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",...,100000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,NaN,NaN
3,24/11/2020 11:15:24,28.0,Male,Berlin,Frontend Developer,4,1,Junior,Javascript,NaN,...,NaN,24,Full-time employee,Unlimited contract,English,51-100,Startup,No,NaN,NaN
4,24/11/2020 11:15:46,37.0,Male,Berlin,Backend Developer,17,6,Senior,C# .NET,".NET, SQL, AWS, Docker",...,NaN,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN