سلام بچه های 
تو این فایل میخوام تمام اون چیزایی که یادگرفتیم رو باهم مرور کنیم 

اول اینکه وقتی میخواین یه پروژه جدید شروع کنین 
برین تو آناکوندا پرامپت 
اگه ندارینش مشکلی نیست
لینک دانلود و آموزش نصبش کامل توی گروه تلگرام هست 


![](08-01.png)

# env creation

با اجرای دستور زیر توی آناکوندا پرامپت میتونین محیط خودتون رو بسازین 
به جای myenv 
میتونین اسم دلخواه خودتون رو بذارین 

``` conda create --name myenv python==3.11 ```


ازتون میپرسه که این چیزایی که نیازه رو نصب کنم یا نه که باید تاییدش کنین 

حالا که ساختینش نوبت میرسه به فعال کردنش 
از دستور زیر میتونین استفاده کنین 


``` conda activate myenv ``` 


بعد از اجرا باید ترمینالتون این شکلی بشه 



![](08-02.png)

# project dir and Vs code

خب حالا که فعال کردین محیطتتون رو 
برین یه جای کامپیوترتون یه پوشه به اسم پروژتون بسازین 
حالا برین توی وی اس کد و اون پوشه رو باز کنین 
توی همین پوشه فایل دیتایی که تو تلگرام جلسه اخر بهتون دادم هم قرار بدین 
melb_data.csv

<img src="08-03.png" width="800" height="800" alt=""/>

تو منوی سمت چپ با چنین چیزی مواجه میشین 

باید حالا یه نوت بوک ایجاد کنیم 
این گزینه رو بزنین 

و یه فایل بسازین به اسم مثلا :
‌

08_code.ipynb

<img src="08-04.png" width="200" height="300" alt=""/>

این فایلی که ساختین رو باز کنین و هرچی نیاز بود و وی اس کد گفت رو نصب کنین (کرنل ای پایتون رو نصب میکنه واستون )

از سمت راست بالاهم تو قسمت سلکت کرنل 

محیط مورد نظرتون رو انتخاب کنین

حالا میتونین کد زدن رو شروع کنین

# package installation

برای نصب کتابخونه های مورد نظر 
هم میتونین از ترمینال اناکوندا استفاده کنین هم میتونین از داخل خود نوت بوک جوپیتر این کار رو انجام بدی

با اجرای دستور زیر میتونین کتابخونه پانداز و پلاتلی و سایکیت لرن رو نصب کنین 
فقط اناکوندا پرامپت نیاز به علامت تعجب نداره

In [8]:
! pip install pandas

Requirement already satisfied: pandas in /root/anaconda/envs/course/lib/python3.11/site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.23.2 in /root/anaconda/envs/course/lib/python3.11/site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /root/anaconda/envs/course/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /root/anaconda/envs/course/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /root/anaconda/envs/course/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /root/anaconda/envs/course/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [10]:
! pip install plotly

Collecting plotly
  Obtaining dependency information for plotly from https://files.pythonhosted.org/packages/a8/07/72953cf70e3bd3a24cbc3e743e6f8539abe6e3e6d83c3c0c83426eaffd39/plotly-5.18.0-py3-none-any.whl.metadata
  Using cached plotly-5.18.0-py3-none-any.whl.metadata (7.0 kB)
Collecting tenacity>=6.2.0 (from plotly)
  Obtaining dependency information for tenacity>=6.2.0 from https://files.pythonhosted.org/packages/f4/f1/990741d5bb2487d529d20a433210ffa136a367751e454214013b441c4575/tenacity-8.2.3-py3-none-any.whl.metadata
  Using cached tenacity-8.2.3-py3-none-any.whl.metadata (1.0 kB)
Requirement already satisfied: packaging in /root/anaconda/envs/course/lib/python3.11/site-packages (from plotly) (23.2)
Downloading plotly-5.18.0-py3-none-any.whl (15.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.6/15.6 MB 1.5 MB/s eta 0:00:0000:0100:01
Using cached tenacity-8.2.3-py3-none-any.whl (24 kB)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.18.0 tenacity-8.2.3
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [30]:
! pip install scikit-learn

Collecting scikit-learn
  Obtaining dependency information for scikit-learn from https://files.pythonhosted.org/packages/0c/2a/d3ff6091406bc2207e0adb832ebd15e40ac685811c7e2e3b432bfd969b71/scikit_learn-1.3.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Using cached scikit_learn-1.3.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Requirement already satisfied: numpy<2.0,>=1.17.3 in /root/anaconda/envs/course/lib/python3.11/site-packages (from scikit-learn) (1.26.1)
Collecting scipy>=1.5.0 (from scikit-learn)
  Obtaining dependency information for scipy>=1.5.0 from https://files.pythonhosted.org/packages/6b/d4/d62ce38ba00dc67d7ec4ec5cc19d36958d8ed70e63778715ad626bcbc796/scipy-1.11.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Using cached scipy-1.11.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
Collecting joblib>=1.1.1 (from scikit-learn)
  Obtaining dependency information for joblib>=1.1.1 from https://files.pythonhosted.org/packages/10/40/d551139c85db202f1f384ba8bcf96aca2f329440a844f924c8a0040b6d02/joblib-1.3.2-py3-none-any.whl.metadata
  Using cached joblib-1.3.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Obtaining dependency information for threadpoolctl>=2.0.0 from https://files.pythonhosted.org/packages/81/12/fd4dea011af9d69e1cad05c75f3f7202cdcbeac9b712eea58ca779a72865/threadpoolctl-3.2.0-py3-none-any.whl.metadata
  Using cached threadpoolctl-3.2.0-py3-none-any.whl.metadata (10.0 kB)
Using cached scikit_learn-1.3.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.9 MB)
Using cached joblib-1.3.2-py3-none-any.whl (302 kB)
Using cached scipy-1.11.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (36.4 MB)
Using cached threadpoolctl-3.2.0-py3-none-any.whl (15 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.3.2 scikit-learn-1.3.2 scipy-1.11.4 threadpoolctl-3.2.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

# import libraries

In [12]:
import pandas as pd 
import plotly.express as px

# simple EDA

حالا وقتشه دیتای که داریم رو بخونیم و یه نگاه کلی بهش بندازیم

In [13]:
df = pd.read_csv('./melb_data.csv')

In [14]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [18]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Rooms,13580.0,2.937997e+00,0.955748,1.00000,2.000000,3.000000,3.000000e+00,1.000000e+01
Price,13580.0,1.075684e+06,639310.724296,85000.00000,650000.000000,903000.000000,1.330000e+06,9.000000e+06
Distance,13580.0,1.013778e+01,5.868725,0.00000,6.100000,9.200000,1.300000e+01,4.810000e+01
Postcode,13580.0,3.105302e+03,90.676964,3000.00000,3044.000000,3084.000000,3.148000e+03,3.977000e+03
Bedroom2,13580.0,2.914728e+00,0.965921,0.00000,2.000000,3.000000,3.000000e+00,2.000000e+01
Bathroom,13580.0,1.534242e+00,0.691712,0.00000,1.000000,1.000000,2.000000e+00,8.000000e+00
Car,13518.0,1.610075e+00,0.962634,0.00000,1.000000,2.000000,2.000000e+00,1.000000e+01
Landsize,13580.0,5.584161e+02,3990.669241,0.00000,177.000000,440.000000,6.510000e+02,4.330140e+05
BuildingArea,7130.0,1.519676e+02,541.014538,0.00000,93.000000,126.000000,1.740000e+02,4.451500e+04
YearBuilt,8205.0,1.964684e+03,37.273762,1196.00000,1940.000000,1970.000000,1.999000e+03,2.018000e+03
Lattitude,13580.0,-3.780920e+01,0.079260,-38.18255,-37.856822,-37.802355,-3.775640e+01,-3.740853e+01
Longtitude,13580.0,1.449952e+02,0.103916,144.43181,144.929600,145.000100,1.450583e+02,1.455264e+02
Propertycount,13580.0,7.454417e+03,4378.581772,249.00000,4380.000000,6555.000000,1.033100e+04,2.165000e+04

همونجوری که میبینین بعضی ستون ها تعداد کمتری دارن 

خب پس میسینگ ولیو های زیادی تو دیتا داریم که باید هندلشون کنیم 

یکی از راه های نه چندان بهینه 

حذف تمام سطر هاییه که میسینگ ولیو دارن

In [20]:
df = df.dropna(axis=0)

In [21]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Rooms,6196.0,2.931407e+00,0.971079,1.00000,2.000000,3.00000,4.000000e+00,8.000000e+00
Price,6196.0,1.068828e+06,675156.427502,131000.00000,620000.000000,880000.00000,1.325000e+06,9.000000e+06
Distance,6196.0,9.751097e+00,5.612065,0.00000,5.900000,9.00000,1.240000e+01,4.740000e+01
Postcode,6196.0,3.101948e+03,86.421604,3000.00000,3044.000000,3081.00000,3.147000e+03,3.977000e+03
Bedroom2,6196.0,2.902034e+00,0.970055,0.00000,2.000000,3.00000,3.000000e+00,9.000000e+00
Bathroom,6196.0,1.576340e+00,0.711362,1.00000,1.000000,1.00000,2.000000e+00,8.000000e+00
Car,6196.0,1.573596e+00,0.929947,0.00000,1.000000,1.00000,2.000000e+00,1.000000e+01
Landsize,6196.0,4.710069e+02,897.449881,0.00000,152.000000,373.00000,6.280000e+02,3.700000e+04
BuildingArea,6196.0,1.415686e+02,90.834824,0.00000,91.000000,124.00000,1.700000e+02,3.112000e+03
YearBuilt,6196.0,1.964082e+03,38.105673,1196.00000,1940.000000,1970.00000,2.000000e+03,2.018000e+03
Lattitude,6196.0,-3.780790e+01,0.075850,-38.16492,-37.855438,-37.80225,-3.775820e+01,-3.745709e+01
Longtitude,6196.0,1.449902e+02,0.099165,144.54237,144.926198,144.99580,1.450527e+02,1.455264e+02
Propertycount,6196.0,7.435490e+03,4337.698917,389.00000,4383.750000,6567.00000,1.017500e+04,2.165000e+04

خب بنظر تعداد داده هایی موجود در هر ستون برابره

ما دنبال این هستیم که با یسری از ویژگی های هر خونه 

قیمت اون رو پیشبینی کنیم

In [23]:
y = df.Price

با این کار به اصطلاحا ستون لیبلمون رو جدا میکنیم

حالا وقته این رسیده که مشخص کنیم کدوم ویژگی ها میتونن رو قیمت تاثیر بذارن

In [24]:
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [27]:
x = df[melbourne_features]

x.head()

In [29]:
x.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

# model

خب تا اینجا تونستیم ستون های فیچر و لیبل رو جدا کنیم 

وقتشه که بریم رو مدلمون کار کنیم 

چهارتا گام داریم تا به یه مدل نسبتا خوب برسیم : 
- تعریف مدل 
- پیدا کردن الگو بین داده ها 
- پیشبینی با داده تست 
- سنجش مدل

In [41]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [38]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

داریم از الگوریتم 

Decision Tree

استفاده میکنیم 
اگه دوستدارین بیشتر راجع بهش بخونین 
میتونین از لینک استفاده کنین 

https://www.ibm.com/topics/decision-trees

دیتا هم به دو قسمت ترین و تست شکوندیم که مطمئن بشیم سمپل هایی که بعدا واسه تست به مدل میدیم رو قبلا مدل ندیده

In [40]:
melbourne_model = DecisionTreeRegressor(random_state=1)


melbourne_model.fit(X_train,  y_train)

DecisionTreeRegressor(random_state=1)

حالا با دوتا شاخص به اسم 

Mean Absolute Error

Mean Squared Error

این مدلمون رو میسنجیم 

احتمالا با این شاخص ها تو آمار مهندسی اشنا شدید

In [45]:
# Predicting on the test set:
test_predictions = melbourne_model.predict(X_test)

# On testing data:
test_mae = mean_absolute_error(y_test, test_predictions)
test_mse = mean_squared_error(y_test, test_predictions)


# Print the metrics
print(f"Testing MAE: {test_mae:.2f}")
print(f"Testing MSE: {test_mse:.2f}")

Testing MAE: 253783.85
Testing MSE: 174411745897.46

این دیتاست و این کد رو از صفحه زیر برداشتم و باهم کار کردیمش :

‌
https://www.kaggle.com/code/dansbecker/your-first-machine-learning-model